* {
    margin: 0;
    padding: 0;
}

.right {
    flex-grow: 1;
}

#latest {
    margin-bottom: 20px;
}

#lang {
    max-width: 15vw;
    max-height: 10vh;
    overflow-y: scroll;
    margin: auto;
    text-align: left;
}
#green {
    color: green;
}

#close:hover {
    cursor: pointer;
}

#badge {
    display: inline-flex;
}

#update {
    font-size: 1vw;
}

#below-home {
    width: 70vw;
    float: left;
    height: 300px;
    margin: 10px;
    padding: 10px;
    border-radius: 5px;

    display: -webkit-flex;
    display: flex;
    align-items: left;
}

#left-home {
    width: 70vw;
    float: left;
    height: 100px;
    margin: 10px;
    padding: 50 50;
    border-radius: 5px;

    display: -webkit-flex;
    display: flex;
    align-items: left;
}

#inner-container {
    display: flex;
    margin: auto;
    text-align: center;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
}

#right-home {
    border-radius: 5px;
    width: 25vw;
    float: right;
    margin: 10px;

    align-items: center;
    justify-content: center;
}

#notFound {
    width: 70%;
}

#about-link {
    text-decoration: none;
    padding: 5px;
}

#form-container {
    margin: auto;

    text-align: center;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
}

#title {
    text-transform: lowercase;
    color: #34495e;
}

#intro-text,
#about-description {
    margin: auto;
    text-align: center;
    font-size: 0.7vw;
    color: #34495e;
}

#sidebg-wrapper {
    text-align: justify;
}

#sidebg {
    width: 30vw;
    margin: 10vw;
    margin-bottom: 0;
    display: block;
}

.wrapper {
    display: flex;
    align-items: center;
}

#welcome {
    font-size: 1vw;
    padding: 1vw;
    text-transform: lowercase;
    color: black;
}

.home-container {
    display: inline-block;
    text-align: center;
    width: min-content;
    float: left;
}

#user-home-container {
    float: left;
}

#container {
    margin: auto;
    text-align: center;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    margin-left: 5%;
    min-width: 100%;
}

.App {
    text-align: center;
}

@media (prefers-reduced-motion: no-preference) {
    .App-logo {
        animation: App-logo-spin infinite 20s linear;
    }
}

.App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.App-link {
    color: #61dafb;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    border: 1px solid #e7e7e7;
    background-color: #f3f3f3;
    border-radius: 4px;
}

li {
    float: left;
}

li a {
    display: block;
    color: #666;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover:not(.active) {
    background-color: #ddd;
}

li a.active {
    color: white;
    background-color: #4caf50;
}

#users {
    text-align: left;
    margin: 0;
    list-style: none;
    padding: 0;
    position: absolute;
    top: 3vh;
    left: 3vh;
    font-size: 28px;
}

#user-selected {
    position: absolute;
    top: 2vh;
    text-align: left;
    padding-left: 5px;
    background: lightblue;
    border-radius: 5px;
    width: 60vw;
}

#users:hover {
    cursor: pointer;
}

#chat {
    position: absolute;
    bottom: 5vh;
    float: left;
}
@media (max-width: 480px) {
    #sidebg,
    #welcome {
        display: none;
    }

    #sidebg-wrapper {
        text-align: center;
        margin: auto;
    }

    #pane-wrapper {
        width: 0;
    }

    #welcome {
        font-size: 5vw;
        padding: 1vw;
        text-transform: lowercase;
        color: black;
    }

    #intro-text {
        font-size: 5vw;
        outline: none;
        margin: auto;
        width: 100%;
        text-align: center;
        position: fixed;
        top: 20%;
        left: 50%;
        transform: translate(-50%, -50%);
        -webkit-transform: translate(-50%, -50%);
        -moz-transform: translate(-50%, -50%);
        -o-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
    }

    #frm {
        outline: none;
        margin: auto;
        text-align: center;
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        -webkit-transform: translate(-50%, -50%);
        -moz-transform: translate(-50%, -50%);
        -o-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
    }

    #left-home {
        width: 60vw;
    }
    #right-home {
        width: 60vw;
    }

    #link-home {
        font-size: 5vw;
    }

    /* smartphones, iPhone, portrait 480x320 phones */
}
@media (min-width: 481px) {
    /* portrait e-readers (Nook/Kindle), smaller tablets @ 600 or @ 640 wide. */
}
@media (min-width: 641px) {
    /* portrait tablets, portrait iPad, landscape e-readers, landscape 800x480 or 854x480 phones */
}
@media (min-width: 961px) {
    /* tablet, landscape iPad, lo-res laptops ands desktops */
}
@media (min-width: 1025px) {
    /* big landscape tablets, laptops, and desktops */
    #link-home {
        font-size: 2vw;
    }
}
@media (min-width: 1281px) {
    /* hi-res laptops and desktops */
}
