#users-container {
    text-align: left;
    float: left;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    margin: auto;
    height: 80vh;
    width: 90vw;
    overflow-y: auto;
}

#user {
    font-size: 1vw;
    text-transform: lowercase;
}
