#users-container {
    text-align: left;
    float: left;
    position: fixed;
    top: 50%;
    left: 10%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    margin: auto;
}

#user {
    font-size: 1vw;
}
