#nov {
    display: none;
}

#container {
    display: flex;
    height: 100px;
    margin: 2%;
}

#left {
    width: 20vw;
    height: 80vh;
}

#right {
    width: 60vw;
    height: 80vh;
    position: relative;
    border-radius: 5px;
}

.message-send {
    position: absolute;
    bottom: 0;
    left: 0;
    margin: 10px;
    background: white;
}

#own {
    float: right;
}
.messages {
    padding: 2vw;
    height: 70vh;
    overflow-y: scroll;
}

#user:hover {
    cursor: pointer;
    text-decoration: underline;
}
hr {
    opacity: 0.2;
}
#you-user,
.not-own-name {
}
#sentBy {
    vertical-align: super;
    padding: 5px;
    display: inline;
    font-family: "SF UI Text", -apple-system, BlinkMacSystemFont, "Segoe UI",
        Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji",
        "Segoe UI Emoji", "Segoe UI Symbol";
    color: #2d3436;
}

#msg-text {
    padding-left: 1.5vw;
}

#down-down {
    border-radius: 50%;
    vertical-align: top;
    margin-right: 1vw;
}
#down-down:hover {
    cursor: pointer;
}
