#badge-container {
    margin-bottom: 0.5vh;
}

#badges {
    display: inline-block;
}

img {
    width: 20%;
    border-radius: 50%;
}

img:hover {
    cursor: pointer;
}

#left {
    float: left;
    text-align: left;
}

#bio {
    margin: 15px 0 15px 0;
    background: #b7d4ef;
}

#bio h3 {
    color: #66788a;
}

.ub-txt-trns_uppercase {
    text-transform: none;
}

#message-user {
    margin: 15px 0 15px 0;
    display: block;
}

@media (min-width: 320px) {
    #left {
        width: 100%;
        float: none;
    }
    #user-profile-title {
        margin: auto;
        text-align: center;
        font-size: 5vw;
        color: #34495e;
    }
}
@media (min-width: 1025px) {
    #user-profile-title {
        margin: auto;
        text-align: center;
        font-size: 1vw;
        color: #34495e;
    }
}
